$about-feature-image-width: 250px

.page.about
  #about-banner
    position: relative

    #panorama

    #overlay
      position: absolute
      top: 0
      bottom: -1px
      left: 0
      width: 100%
      background-color: rgba(0, 0, 0, 0.65)

      #logo
        position: absolute
        top: 50%
        left: 50%
        -webkit-transform: translate( -50%, -50% )


  #about-page-title
    text-align: center


  #features
    .feature
      .large-brand-container
        .content
          background: #454954
          padding: 1.875rem 1.875rem 3.125rem 1.875rem

      &
        .svg-container
          display: inline-block
          width: $about-feature-image-width
          height: $about-feature-image-width

          svg
            width: 100%
            height: 100%

      &.left-image
        .svg-container
          float: left
          display: block
        .description-container
          float: none
          margin: 0 0 0 $about-feature-image-width


      &.right-image
        .svg-container
          float: right
          display: block
          position: relative

        .description-container
          float: none
          display: block
          position: relative
          margin: 0 $about-feature-image-width 0 0
