<%# render partial: 'partials/home_form' %>







<select id="my-select-country" >
    <option value="">Select a country...</option>
    <option value="AF">Afghanistan</option>
    <option value="AX">&Aring;land Islands</option>
    <option value="AL">Albania</option>
    <option value="DZ">Algeria</option>
    <option value="AS">American Samoa</option>
    <option value="AD">Andorra</option>
    <option value="AO">Angola</option>
    <option value="AI">Anguilla</option>
    <option value="AQ">Antarctica</option>
</select>


<select id="my-select" >
  <option value="">Select a country...</option>
  <option value="AF">Afghanistan</option>
  <option value="AX">land Islands</option>
  <option value="AL">Albania</option>
  <option value="DZ">Algeria</option>
  <option value="AS">American Samoa</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AI">Anguilla</option>
  <option value="AQ">Antarctica</option>
</select>