<ul>
<li> Updating of the platform and configuration of software 1C according to the latest

update releases (versions).

</li>
<li> Supplement of customer configuration by settings. For example: connection

of client-bank, supplement of printed forms by logo, displaying of industry

specification.

</li>
<li> The necessary services of keeping in order database 1C – revising of database

consistency, searching and eliminating of bugs, archiving.

</li>
<li> Implementation of the software 1C.

</li>
<li> Writing of the configuration, as from the beginning so on a basis of the model (SPC,

UT, GMS, UT11, CA)

</li>
<li> Switching from 7.7 to 8.2 1C

</li>
<li> Connection and configuration of any commercial equipment (HQ scanner, PDA,

CMC, fiscal registers, scales).

</li>
<li> Creation of deployed system 1C client-server with remote access and connectivity

via the Internet from any location.

</li>
<li> Providing of qualified consultations for customer.

</li>
<li> Connection of the "1C: Report" (product for development and transmission of

electronic reporting).

</li>
<li> Administration of the user list.

</li>
<li> Backup of the database.

</li>
<li> Updating of the default configurations.

</li>
<li> Updating of the platform 1C: Enterprise.

</li>
<li> Testing of the database and correcting of the errors integrity.

</li>
<li> Revising of availability and accuracy of data in information security, which can

affect to the proper record keeping.

</li>
<li> Restoring of the database from backup.

</li>
<li> Installing of the software.

</li>
<li> Configuring of interfaces and user access rights.

</li>
<li> Audit of business processes, system optimization.
</li>
</ul>