// Place all the behaviors and hooks related to the matching controller here.
// All this logic will automatically be available in application.js.
// You can use CoffeeScript in this file: http://coffeescript.org/

function initializeHomeMap(){
    var map;
    var HOME_MAPTYPE_ID = 'home_style';

    var homeStyleProperties = [
        {
            featureType: 'all',
            stylers: [
                { "saturation": -100 },
                { "lightness": 0 },
                { "gamma": 1.18 }
            ]
        }
    ];

    var mapOptions = {
        zoom: 16,
        center: new google.maps.LatLng(49.840387, 24.030778),
        scrollwheel: false,
        mapTypeId: HOME_MAPTYPE_ID
    };



    var map_container = $('.map-container').get(0)

    map = new google.maps.Map(map_container,
        mapOptions);






    var $map_wrapper = $('.map-wrapper')
    var data_markers_str = $map_wrapper.attr('data-markers')
    if(data_markers_str){
        function HTMLMarker(lat,lng){
            this.lat = lat;
            this.lng = lng;
            this.pos = new google.maps.LatLng(lat,lng);
        }

        HTMLMarker.prototype = new google.maps.OverlayView();
        HTMLMarker.prototype.onRemove= function(){}

        //init your html element here
        HTMLMarker.prototype.onAdd= function(){
            div = document.createElement('DIV');
            div.className = "htmlMarker";
            div.innerHTML = '<%= ApplicationHelper.js_embedded_svg('marker.svg') %>'
            var panes = this.getPanes();
            panes.overlayImage.appendChild(div);
        }

        HTMLMarker.prototype.draw = function(){
            var overlayProjection = this.getProjection();
            var position = overlayProjection.fromLatLngToDivPixel(this.pos);
            var panes = this.getPanes();
            panes.overlayImage.style.left = position.x + 'px';
            panes.overlayImage.style.top = position.y - 30 + 'px';
        }

        var markers = []

        //var pairs = data_markers.split(';')
        var data_markers = $.parseJSON(data_markers_str)
        //alert(data_markers[0])

        for(var i=0; i<data_markers.length;i++){
            var m = data_markers[i]
            //var icon = ''
            //if(m.icon_type == 'available'){
            //    icon = "<%# asset_path('czmk-map-pointer.png') %>"
            //}

            //var htmlMarker = new HTMLMarker(m.lat, m.lng);
            //htmlMarker.setMap(map);
            //alert('added marker: lat:'+ m.lat + '; lng: ' + m.lng)

            //new google.maps.Marker({
                //position: new google.maps.LatLng(m.lat, m.lng),
                //map: map,
                //title: m.title,
                //icon: icon
            //})

            var $div = jQuery('<div class="html-marker"><a href="https://google.com" target="_blank"><%= ApplicationHelper.js_embedded_svg('marker.svg') %></a></div>');

            $div.find('a').on('click', function (event) {
                event.preventDefault()
                alert('hello')
            })

            var div = $div.get(0)

            var marker = new RichMarker({
                map: map,
                position: new google.maps.LatLng(49.83445, 24.051365),
                draggable: true,
                flat: true,
                anchor: RichMarkerPosition.MIDDLE,
                content: div
            });
        }
    }

    var styledMapOptions = {
        //name: 'Custom Style'
        name: 'home style'
    };

    var customMapType = new google.maps.StyledMapType(homeStyleProperties, styledMapOptions);

    map.mapTypes.set(HOME_MAPTYPE_ID, customMapType);
}

$(document).on('ready page:load', function(){
//  var $home_form = $('#home-form')
//  var $home_form_selects = $home_form.find('select')
//  $home_form_selects.selectize({
//      //createOnBlur: true,
//      onLoad: function(){
//          console.log('onload')
//        //$(this).find('input').css({display: 'none'})
//      }
//  })

    /*$('#select-state').selectize({
        maxItems: 3
    });

    $('#select-country').selectize();

    $('#my-select').selectize({

    })*/


    initializeHomeMap()


    /*$(".modal-link").each(function() {
        $link = $(this)
        var original_href = $link.attr('href')
    });*/

    //$('a.fancybox').fancybox();


})