#test ul li
  list-style: none
  display: inline-block


  a, > span
    //padding-left: 15rem
    //background: #d00a61

    display: block
    padding-right: 0rem
    height: 36px
    line-height: 36px
    color: white
    border-radius: 6px 0px 0px 6px
    font-size: 1.1rem
    text-transform: uppercase
    font-weight: 400
    position: relative


  .brand-wrap:after 
    //border-top: 1rem solid #d00a61
    //border-bottom: 1rem solid #d00a61
    //border-left: 1rem solid #d00a61
    //border-right: 1rem solid #d00a61
    //content: ""
    width: 15rem
    height: 28rem
    display: block
    float: left
    background-color: #d00a61
    border-radius: 0 6rem 0 0


  .brand-wrap
    padding-right: 16px
    height: auto

    #span1
      display: block
      height: 36px
      line-height: 36px
      //float: left
      background: #d00a61
      padding-left: 16px
      border-radius: 6px 0px 0 6px
      min-width: 16rem
      min-height: 9rem



    #span2
      position: absolute
      //float: left
      display: block
      //right: 16rem
      //top: 28rem
      width: 16px
      height: 100%
      right: 0
      top: 0
      padding-bottom: 8px

      #right-bg
        top: 0
        left: 0
        width: 16px
        height: 100%
        background-color: #d00a61
        position: relative
        display: block
        border-radius: 0 6px 0 0
        //bottom: 8px


      #t1
        width: 0
        height: 0
        border-style: solid
        border-color: #d00a61 transparent transparent transparent
        border-width: 8px 8px 0 0
        top: auto
        display: block
        left: 0
        position: absolute

      #t2
        width: 0
        height: 0
        position: absolute
        top: auto
        left: 0
        border-style: solid
        border-width: 0 0 8px 8px
        border-color: transparent transparent #851452 transparent

      #t3
        position: absolute
        border-color: #ff7f9d transparent transparent transparent
        width: 0
        height: 0
        display: block
        border-width: 8px 8px 0 0
        border-style: solid
        top: auto
        left: 8px



  .reset
    display: block
    position: relative












