$green-color: #b4d81a
$pink-color: #d61d56
$gray-color: #a8a8a8
$light-gray-color: #454954





$visual-header-font-family: 'Open Sans', sans-serif, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
$visual-header-text-shadow: rgba(100, 100, 100, 0.7) -2px 2px 0.5px
$visual-header-color: white
$visual-header-padding: 2.25rem 0

$visual-h1-font-size: 1.8rem
$visual-h1-font-weight: 600
$visual-h1-line-height: 1.2
$visual-h1-font-family: $visual-header-font-family

$visual-h1-font: #{$visual-h1-font-weight} #{$visual-h1-font-size}/#{$visual-h1-line-height} #{$visual-h1-font-family}

$visual-h1-text-shadow: rgba(38, 38, 38, 1) -2px 2px 1px
$visual-h1-color: $visual-header-color

$visual-h1-padding: $visual-header-padding




$visual-h2-font-size: 1.5rem
$visual-h2-font-weight: 600
$visual-h2-line-height: 1.2
$visual-h2-font-family: $visual-header-font-family

$visual-h2-font: #{$visual-h2-font-weight} #{$visual-h2-font-size}/#{$visual-h2-line-height} #{$visual-h2-font-family}, #{$visual-h2-font-weight}

$visual-h2-text-shadow: rgba(38, 38, 38, 1) -2px 2px 1px
$visual-h2-color: $visual-header-color

$visual-h2-padding: $visual-header-padding


$visual-h3-font-size: 1.4rem
$visual-h3-font-weight: 600
$visual-h3-line-height: 1.2
$visual-h3-font-family: $visual-header-font-family

$visual-h3-font: #{$visual-h3-font-weight} #{$visual-h3-font-size}/#{$visual-h3-line-height} #{$visual-h3-font-family}, #{$visual-h3-font-weight}

$visual-h3-text-shadow: $visual-header-text-shadow
$visual-h3-color: $visual-header-color

$visual-h3-padding: $visual-header-padding


$visual-h4-font-size: 1rem
$visual-h4-font-weight: 600
$visual-h4-line-height: 1.2
$visual-h4-font-family: $visual-header-font-family

$visual-h4-font: #{$visual-h4-font-weight} #{$visual-h4-font-size}/#{$visual-h4-line-height} #{$visual-h4-font-family}, #{$visual-h4-font-weight}

$visual-h4-text-shadow: $visual-header-text-shadow
$visual-h4-color: $visual-header-color

$visual-h4-padding: 1rem 0

$brand-button-bg-color: $green-color

$brand-button-corner-dark-color: #708206
$brand-button-corner-light-color: #eaffa9

$brand-button-border-radius: 8px

$brand-button-text-shadow: $visual-header-text-shadow


$order-button-price-bg-color: $pink-color
$order-button-title-bg-color: $green-color

$order-button-label-corner-dark-color: #708206
$order-button-label-corner-light-color: #eaffa9

$order-button-price-text-shadow: $visual-header-text-shadow
$order-button-title-text-shadow: $visual-header-text-shadow

$large-order-button-border-radius: 8px

$brand-container-bg-color: #454954
$brand-container-corner-light-color: #636975
$brand-container-corner-dark-color: #25282d

$brand-container-border-radius: 12px






$input-field-bg: #787f91



$item-info-bg-color: #787f91
$item-border-radius: 10px

$section-vertical-indent: 5.5rem