@mixin vertical-align($percent-value: 50%) {
  position: relative;
  top: $percent-value;
  -webkit-transform: translateY(-#{$percent-value});
  -ms-transform: translateY(-#{$percent-value});
  transform: translateY(-#{$percent-value});
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin transform($value){
  @include vendor-prefix(transform, $value)
}

@mixin transition($value){
  @include vendor-prefix(transition, $value)
}

@mixin transition-duration($value){
  @include vendor-prefix(transition-duration, $value)
}

@mixin transition-delay($value){
  @include vendor-prefix(transition-delay, $value)
}

@mixin transition-property($value){
  @include vendor-prefix(transition-property, $value)
}