@mixin vertical-align($percent-value: 50%) {
  position: relative;
  top: $percent-value;
  -webkit-transform: translateY(-#{$percent-value});
  -ms-transform: translateY(-#{$percent-value});
  transform: translateY(-#{$percent-value});
}
