input.modal-window-checkbox.modal-window-close name="appartment-item-image-flag" type="radio" id="appartment-item-image-window-close"
- @appartment_images.each_with_index do |img, index|
  input.modal-window-checkbox.appartment-item-image-flag name="appartment-item-image-flag" type="radio" id="appartment-item-image-#{(index+1).to_s}-flag"